*{
     font-family: "Roboto", sans-serif;
     
}
body{
   box-sizing: border-box;
   margin: 0;
   background-color: rgb(228, 229, 230);

}
.site-content{
    max-width: 1280px;
    margin: 0 auto;
     background-color: rgb(228, 229, 230);
}
#main-header{
    .header-logo{
        text-align: center;
        padding: 20px 0;
        img{
            max-width: 100%;
            height: auto;
        }
    }
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.main-body{
    .main-title{
        font-size: 60px;
        line-height: 73px;
        color: rgb(46,49,144);
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
        @media screen and (max-width: 992px) {
            font-size: 40px;
            line-height: 50px;
        }
        @media screen and (max-width: 768px) {
            font-size: 24px;
            line-height: 28px;
        }
    }
     .sub-title{
        font-size: 48px;
        line-height: 57px;
        color: rgb(0,165,195);
        text-align: center;
        font-weight: bold;
        margin: 0;
         @media screen and (max-width: 992px) {
            font-size: 32px;
            line-height: 40px;
        }
        @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .main-banner{
        text-align: center;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .content-1{
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: rgb(35, 31, 32);
        font-weight: 500;
         @media screen and (max-width: 992px) {
            font-size: 28px;
            line-height: 34px;
        }
        @media screen and (max-width: 768px) {
            font-size: 15px;
            line-height: 22px;
        }
    }
    .content-list{
        margin-top: 20px;
        text-align: center;
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        .content-item{
            width: 32%;
            // float: left;
            display: inline-block;
            font-size: 20px;
            line-height: 27px;
            color: rgb(35, 31, 32);
             @media screen and (max-width: 992px) {
                font-size: 16px;
                line-height:20px;
            }
            @media screen and (max-width: 768px) {
                font-size: 10px;
                line-height: 12px;
            }
            @media screen and (max-width: 500px) {
                font-size: 8px;
                line-height: 10px;
            }
            span{
                font-size: 111px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                font-weight: bold;
                text-align: left;
                 @media screen and (max-width: 992px) {
                    font-size: 78px;
                    line-height: 88px;
                }
                @media screen and (max-width: 768px) {
                    font-size: 50px;
                    line-height: 60px;
                    margin-right: 5px;
                }
                @media screen and (max-width: 500px) {
                    font-size: 38px;
                    line-height: 38px;
                    margin-right: 5px;
                    // display: block;
                }
            }
            p{
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                font-style: italic;
                font-weight: bold;
                text-align: left;
            }
        }
        .item-1 span{
          color: #5C55A4;
        }
               
        .item-2 span{
            color: #ED2C7B;
        }
        .item-3 span{
            color: #F15A29;
        }
    }
    .seminar-title{
        font-size: 61px;
        line-height: 73px;
        color: #2B388D;
        text-align: center;
        margin: 100px 0 45px;
         @media screen and (max-width: 992px) {
            font-size: 40px;
            line-height: 50px;
            margin: 70px 0 30px;
        }
         @media screen and (max-width: 768px) {
            font-size: 30px;
            line-height: 40px;
            margin: 40px 0 20px;
        }
        
    }
    .seminar-content{
        ul.nav{
            text-align: center;
            display: block;
            li{
                display: inline-block;
                margin: 0 23px;
                 @media screen and (max-width: 992px) {
                    margin: 0 10px;
                }
                @media screen and (max-width: 768px) {
                    margin: 0 5px;
                }
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                button{
                    background-color: #CFD1D2;
                    border-radius: 15px;
                    padding: 5px;
                    width: auto;
                    
                    .day{
                       font-size: 34px;
                       line-height: 34px;
                       font-weight: bold;
                       color: #fff; 
                       padding: 10px 15px;
                       text-align: center;
                       display: inline-block;
                       vertical-align: middle;
                        @media screen and (max-width: 992px) {
                            font-size: 22px;
                            line-height: 30px;
                            padding: 7px 12px;
                        }
                        @media screen and (max-width: 768px) {
                            font-size: 15px;
                            line-height: 16px;
                            padding: 5px 5px;
                        }
                        @media screen and (max-width: 500px) {
                            font-size: 10px;
                            line-height: 14px;
                            padding: 0;
                        }
                    }
                    .date{
                        display: inline-block;
                        padding: 20px 20px ;
                        background-color: #fff;
                        border-radius: 0 10px 10px 0;
                        // width: 160px;
                        font-size: 20px;
                        line-height: 24px;
                        color: #CFD1D2;
                        vertical-align: middle;
                        font-weight: 500;
                         @media screen and (max-width: 992px) {
                            font-size: 16px;
                            line-height: 20px;
                            padding: 15px 10px;
                        }
                        @media screen and (max-width: 768px) {
                            font-size: 12px;
                            line-height: 14px;
                            padding: 10px 10px;
                        }
                        @media screen and (max-width: 500px) {
                            font-size: 10px;
                            line-height: 12px;
                            padding: 5px;
                        }
                    }
                }
                &.item-1{
                    button.active{
                        background-color: #652E8C;
                        .date{
                            color: #652E8C;
                        }
                    }
                }
                &.item-2{
                    button.active{
                        background-color: #ED2C7B;
                        .date{
                            color: #ED2C7B;
                        }
                    }
                }
                 &.item-3{
                    button.active{
                        background-color: #F15A29;
                        .date{
                            color: #F15A29;
                        }
                    }
                }
            }
        }
        .tab-content{
            margin-top: 40px;
            color: #231F20;
            .line-bold{
                font-weight: bold;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                 @media screen and (max-width: 992px) {
                    font-size: 16px;
                    line-height: 22px;
                }
                 @media screen and (max-width: 768px) {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
            .table-event{
                margin-top: 40px;
                strong{
                    color: #652C8E;
                }
                .table{
                    
                    .row{
                        margin-bottom: 30px;
                        @media screen and (max-width: 768px) {
                            margin-bottom: 20px;
                        }
                        .time{
                            font-size: 50px;
                            line-height: 60px;
                            font-weight: bold;
                            color: #652C8E;
                            @media screen and (max-width: 992px) {
                                font-size: 36px;
                                line-height: 42px;
                            }
                             @media screen and (max-width: 768px) {
                                font-size: 18px;
                                line-height: 26px;
                            }
                        }
                        .col-left{
                            padding-right: 20px;
                            width: 25%;
                             @media screen and (max-width: 768px) {
                                padding-right: 10px;
                            }
                        }
                        .col-right{
                            width: 75%;
                        }
                        .line-item{
                            font-size: 30px;
                            line-height: 36px;
                            color: #652C8E;
                            font-weight: bold;
                            padding: 5px 0;
                            width: 100%;
                            border-top: solid 2px #652C8E;
                            border-bottom: solid 2px #652C8E;
                            @media screen and (max-width: 992px) {
                                font-size: 20px;
                                line-height: 30px;
                            }
                             @media screen and (max-width: 768px) {
                                font-size: 15px;
                                line-height: 16px;
                            }
                        }
                        .line-content{
                            padding: 20px 0;
                            font-size: 20px;
                            line-height: 28px;
                            @media screen and (max-width: 992px) {
                                font-size: 16px;
                                line-height: 22px;
                            }
                             @media screen and (max-width: 768px) {
                                font-size: 14px;
                                line-height: 16px;
                                padding-bottom: 0;
                            }
                        }
                        
                    }
                    
                }
                &.tab-event-2{
                     strong{
                        color: #ED2C7B;
                    }
                   .table .row .time{
                        color: #ED2C7B;
                    }
                    .table .row .line-item{
                        color: #ED2C7B;
                         border-top: solid 2px #ED2C7B;
                        border-bottom: solid 2px #ED2C7B;
                    }
                }
                &.tab-event-3{
                     strong{
                        color: #F15A29;
                    }
                    .table .row .time{
                         color: #F15A29;
                    }
                    .table .row .line-item{
                        color: #F15A29;
                        border-top: solid 2px #F15A29;
                        border-bottom: solid 2px #F15A29;
                    }
                }
            }
        }
    }
}
#main-footer{
    padding: 50px 0;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: #000;
    @media screen and (max-width: 992px) {
         font-size: 16px;
        line-height: 22px;
    }
}